<!DOCTYPE html>
<html>
<head>
  <title>Wake A Mole...</title>
  <script type="text/javascript" src="vue.js"></script>
  <style type="text/css">
    #app {
      width: 100%;
      text-align: center;
    }

    table {
      margin: auto;
    }

    .mole {
      height: 160px;
      width: 160px;
      border: 2px solid transparent;
      background-color: transparent;
      border-radius: 50%;
      text-align: center;
      transform: scale(.9);
      box-shadow: inset 0 0 100px black;
      transition: all .2s;
    }

    .mole.active {
      transform: scale(1.1);
      background: transparent;
      border-color: blue;
      box-shadow: 0 0 10px black
    }

    .mole img {
      margin-top: 30px
    }
  </style>
</head>
<body>

  <div id="app">
    <div v-show="state == 'intro'">
      <input type="text" v-model="player.name">
      <button @click="state = 'running'">Start Game</button>
    </div>
    <div v-show="state == 'running'">
      <h1> {{ player.name }} </h1>
      <pre>Score: {{player.hit}} / {{player.wrong}} / {{game.count}}</pre>
      <div>
        <table>
          <tr v-for="c in seriesGen(game.size)">
            <td v-for="r in seriesGen(game.size)">
              <mole :row="r" :col="c"></mole>
            </td>
          </tr>
        </table>
      </div>
      matrix:
      <select v-model="game.size">
        <option :value="2">2x2</option>
        <option :value="3">3x3</option>
        <option :value="4">4x4</option>
        <option :value="5">5x5</option>
      </select>
      speed:
      <select v-model="game.speed">
        <option :value="0">0</option>
        <option :value="1">1</option>
        <option :value="2">2</option>
        <option :value="3">3</option>
        <option :value="4">4</option>
        <option :value="5">5</option>
        <option :value="6">6</option>
        <option :value="7">7</option>
        <option :value="8">8</option>
        <option :value="9">9</option>
      </select>
      <button v-show="game.status == 'waiting'" @click="startGame">
        Start
      </button>
      <button v-show="game.status == 'running'" @click="stopGame">
        Stop
      </button>
      <button @click="state = 'intro'">Change Player Name</button>
    </div>
  </div>

  <template id="mole">
    <div class="mole" @click="hit" :class="{'active': status != 'normal'}">
      <img v-if="status != 'normal'" :src="src">
    </div>
  </template>

  <script type="text/javascript">

    var eventBus = new Vue();

    Vue.component('mole', {
      template: '#mole',
      props: ["row", "col"],
      data: function() {
        return {
          status: 'normal'
        }
      },
      computed: {
        src: function() {
          return this.status == 'hit' ? 'open.png': 'close.png';
        }
      },
      methods: {
        hit: function() {
          eventBus.$emit('score', this.status);
          this.status = this.status == 'active'? 'hit': 'normal'
        }
      },
      mounted: function() {
        eventBus.$on('newSpot', (r, c) => {
          this.status = (this.row == r && this.col == c) ? 'active' : 'normal'
        })
      }
    });

    var app = new Vue({
      el: '#app',
      data: {
        state: 'intro',
        game: {
          status: 'waiting',
          size: 3,
          speed: 0,
          count: 0
        },
        player: {
          name: "annonymous",
          hit: 0,
          wrong: 0
        }
      },
      methods: {
        seriesGen: function(num) {
          return (!isNaN(num) && num > 0)? Array.from(Array(num).keys()): [];
        },
        startGame: function() {
          this.game.status = 'running';
          let delay = 300 + (9 - this.game.speed) * 200;
          this.game.interval = setInterval(this.newSpot, delay);
        },
        stopGame: function() {
          this.game.status = 'waiting';
          clearInterval(this.game.interval);
        },
        newSpot: function() {
          this.game.count++;
          let rand = () => Math.floor(Math.random() * 2000) % this.game.size;
          eventBus.$emit('newSpot', rand(), rand());
        }
      },
      mounted() {
        eventBus.$on('score', (type) => {
          if(type == 'active') this.player.hit++;
          else this.player.wrong++;
        })
      }
    });
  </script>


</body>
</html>